

<main class="container mx-auto px-14 py-8">
    {{#if posts.length}}
    {{#each posts}}
        <div class="post-card cursor-pointer bg-white shadow-md rounded-lg p-6 mb-4 hover:shadow-lg transition duration-300" data-post-id="{{post_id}}">
            <h2 class="text-xl font-bold mb-2">{{title}}</h2>
            <p class="mb-2">{{truncate body 100}}</p>
            {{#if user_id}}
                    <p class="text-sm text-gray-600">Posted by: User {{user_id}}</p>
                {{else}}
                    <p class="text-sm text-gray-600">Posted by: Anonymous</p>
            {{/if}}
                <p class="text-sm text-gray-600"><strong>Date:</strong> {{formatDate createdAt}}</p>
            </div>
            {{/each}}
            {{else}}
            <p>No posts available.</p>
            {{/if}}
</main>

{{> postModal}}

<script type="module">
    import { attachModalListeners } from '/js/modal.js';
    document.addEventListener('DOMContentLoaded', () => {
        attachModalListeners();
    });
</script>
